
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

//palette
$navy: #020122;
$orange-red: #f4442e;
$orange: #fc934f;
$gold: #edd382;
$yellow: #f2f3ae;

// Typography
// fonts
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$text-color: #636b6f;
$header: 'Oswald', sans-serif;
$body: 'Quattrocento Sans', sans-serif;

// font sizes and heights
$font-size-base: 1.2rem;
$line-height-base: 1.4;
$font-h1: 4em;
$font-h2: 3em;
$font-h3: 2.5em;
$font-h4: 2em;
$font-h5: 1.5em;
$font-h6: 1.5em;
$font-sm: 1em;


// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;
